<%= form_with url: login_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
  <div class="field" id="star">
   <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
   <%= f.hidden_field :star, id: :review_star %>
</div>

<script>
console.log('aaa')
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
</script>  
<% end %>
