<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_pack_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="mx-5" style="margin-top: 50px">
    <%= yield %>
  </div>

  </body>
</html>
